body{
  background: #1a1a1a;
  text-align: center;
  font-family: 'Amatic SC', cursive;


}

 #title{
  background-color: #1a1a1a;
color: #fff;
font-family: 'Amatic SC', cursive;
text-align: center;
}

h1{
  font-family: 'Amatic SC', cursive;
font-size:6rem;
line-height: 1.5;

}

h2{
  font-family: 'Amatic SC', cursive;
    size:5rem;
    line-height: 1.5;
}
h3{
  font-family: 'Amatic SC', cursive;
font-size: 2.5rem;
line-height: 1.5;
  color: #8f8f8f;

}
p{
  color: #8f8f8f;
}


.container-fluid{
  padding: 3% 15%;
}

/* navigation bar */
.navbar-brand{
  font-family: 'Amatic SC', cursive;
font-size: 2.5rem;
font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: 'Amatic SC', cursive;
font-size: 4rem;
line-height: 1;
}
.navbar{
  padding:0 0 4.5rem;
}

/* Download button */
.Download-button{
  margin: 5% 3% 5% 0;
  color: #cda574
}

.Download-buttons {
    margin: 5% 3% 5% 0;
}
/* Title image */
.Title-image {
  width: 60%;
  margin-top: 2%;
  margin-left:20%;
    border-radius: 100%;
}
.Title-images{
  width: 50%;
  margin-top: 2%;
  margin-left:2.5%;
}
  /* <!-- Features --> */
#features{
  padding: 7% 15%;
  background-color: #1a1a1a;
}

#features-color{
  padding: 7% 15%;
  background-color: #1a1a1a;
  font-family: 'Amatic SC', cursive;
font-size: 4rem;
line-height: 1.5;

  text-align: right;
}

.features-box{
  text-align: center;

}
.icon{
  color: #cda574;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #cda574;

}

#testimonials{
background-color:  #1a1a1a;
color: #fff;
text-align: center;
}

#Testimini{
  background-color:  #1a1a1a;
  color: #fff;
  text-align: center;
  }

.carousel-item{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
    padding-top: 1%;
}

.testimonial-image{
   width: 700px;
  height: 350px;
}
#press{
  background-color: #1a1a1a;
  text-align: center;
  padding-bottom: 3%;

}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
#footer{
  text-align: center;
    background-color: #1a1a1a;
    font-size: 1.5rem;

}
.footers{
  background-color: #1a1a1a;
  color: white;
  text-decoration: none;
}

#video{
  background-color:  #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 7% 15%;


  }
#menu-img{
  background-color: #1a1a1a;
}

.menus{
    padding-left: 2%;
    width: 99%;
}

.mandala{
  height:813px;
  width: 980px;
}
#contact-me {
  padding: 2.5% 15%;
  text-align: center;
  color: white;

}
.btn{
  font-size: 3rem;

}
.btns{
  margin: 5% 3% 5% 0;

}
.bish{
  padding: 7% 15%;

}
.vidi{
margin: auto;
}
.menukd{
  width: 20%;
  margin-top: 2%;
}
}
