body{
  background: #1a1a1a;
  text-align: right;

}

 #title{
  background-color: #1a1a1a;
color: #fff;
font-family: 'Montserrat-Medium 500 italic';
text-align: right;
}

h1{
  font-family: 'Amatic SC', cursive;
font-size: 3.5rem;
line-height: 1.5;

}

h2{
  font-family: 'Montserrat', sans-serif;
    size:3.5rem;
    line-height: 1.5;
}
h3{
  font-family: 'Amatic SC', cursive;
font-size: 2.5rem;
line-height: 1.5;
  color: #8f8f8f;

}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}

/* navigation bar */
.navbar-brand{
font-family: 'Ubuntu', sans-serif;
font-size: 2.5rem;
font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
font-size: 1.2rem;
font-family: 'Montserrat-Light'
}
.navbar{
  padding:0 0 4.5rem;
}

/* Download button */
.Download-button{
  margin: 5% 3% 5% 0;
  color: #cda574
}

.Download-buttons {
    margin: 5% 3% 5% 0;
}
/* Title image */
.Title-image {
  width: 60%;
  margin-top: 2%;
  margin-left:20%;
    border-radius: 100%;
}

  /* <!-- Features --> */
#features{
  padding: 7% 15%;
  background-color: #1a1a1a;
}

#features-color{
  padding: 7% 15%;
  background-color: #1a1a1a;
  font-family: 'Amatic SC', cursive;
font-size: 4rem;
line-height: 1.5;

  text-align: right;
}

.features-box{
  text-align: center;

}
.icon{
  color: #cda574;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #cda574;

}

#testimonials{
background-color:  #1a1a1a;
color: #fff;
text-align: center;
}

#Testimini{
  background-color:  #1a1a1a;
  color: #fff;
  text-align: center;
  }

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
   width: 700px;
  height: 350px;
}
#press{
  background-color: #1a1a1a;
  text-align: center;
  padding-bottom: 3%;

}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
#footer{
  text-align: center;
    background-color: #1a1a1a;
}
.footers{
  background-color: #1a1a1a;
  color: white;
}

#video{
  background-color:  #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 7% 15%;


  }
#menu-img{
  background-color: #1a1a1a;
}

.menus{
    padding-left: 2%;
    width: 99%;
}

.mandala{
  height:813px;
  width: 980px;
}
